@import 'shared/styles/mixins.scss';

.container {
  @include row;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background-color: var(--black-2);
}

.loaderContainer {
  @include row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.loaderIcon {
  width: 60px;
  height: 60px;
}

.loaderElement {
  position: absolute;

  &::after {
    content: ' ';
    display: block;
    width: 70px;
    height: 70px;
    box-sizing: content-box;
    border-radius: 50%;
    border-top: 3px solid var(--orange-1);
    border-right: 3px solid transparent;
    animation: loaderAnimation 1.2s linear infinite;
  }

  @keyframes loaderAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
