rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tasks/{task} {
    	function isSignedIn() {
      	return request.auth != null;
    	}
      
      function isOwner() {
      	return request.auth.uid == resource.data.owner_id;
      }
       
      allow create: if isSignedIn();
      allow read, update, delete: if isSignedIn() && isOwner();
    }
  }
}