.scrollbar {
  position: relative;

  &_dark {
    :global(.simplebar-scrollbar) {
      &::before {
        height: 4px !important;
        background-color: var(--black-2) !important;
      }
    }
  }

  &_light {
    :global(.simplebar-scrollbar) {
      &::before {
        height: 4px !important;
        background-color: var(--white-1) !important;
      }
    }
  }
}
