@import 'shared/styles/mixins.scss';

.container {
  width: 100%;
  position: relative;
}

.header {
  @include row;
  @extend .container;
  align-items: center;
  justify-content: space-between;
}

.list {
  @extend .container;
  margin-top: 16px;
}

.item {
  @extend .container;

  &:not(:first-child) {
    margin-top: 8px;
  }
}
