@import 'shared/styles/mixins.scss';

.button {
  @include row;
  width: auto;
  height: auto;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: var(--border-radius);
  transition: background-color var(--transition), color var(--transition), box-shadow var(--transition);
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  position: relative;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  & > svg {
    path {
      fill: currentColor;
    }
  }

  &_primary {
    height: 40px;
    padding: 0px 16px;
    background-color: var(--black-2);
    color: var(--white-1);

    &:hover:not(:disabled) {
      background-color: var(--black-3);
    }
  }

  &_secondary {
    height: 40px;
    padding: 0px 16px;
    background-color: var(--grey-4);
    color: var(--black-2);

    &:hover:not(:disabled) {
      background-color: var(--grey-3);
    }
  }

  &_transparent {
    background-color: transparent;
    color: var(--grey-1);

    &:hover:not(:disabled) {
      color: var(--black-2);
    }
  }
}
