@import 'shared/styles/mixins.scss';

.switch {
  @include row;
  position: relative;
  width: 100%;
  align-items: center;
}

.item {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: var(--black-2);
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Source Code Pro', sans-serif;

  &:hover {
    &:not(.item_active)::after {
      opacity: 1;
    }
  }

  &_active {
    color: var(--orange-1);
    font-weight: bold;
  }

  &:not(.item_active)::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -4px;
    background-color: var(--black-2);
    opacity: 0;
    transition: opacity var(--transition);
  }
}

.input {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.separator {
  font-size: 14px;
  font-weight: 400;
  color: var(--black-2);
  text-transform: uppercase;
  white-space: pre;
}
