@import 'shared/styles/mixins.scss';

.avatar {
  display: block;
  border-radius: 50%;
  border: 1px solid var(--grey-4);
  background-color: var(--grey-4);
}

.defaultAvatar {
  @extend .avatar;
  @include row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  // font-size: 14px;
  font-weight: 700;
  color: var(--white-1);
  background-color: var(--grey-1);
}
