// -------- Montserrat --------
@font-face {
  font-family: 'Montserrat';
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-Thin.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Thin.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-ExtraLight.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Light.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Medium.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-ExtraBold.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-Black.woff2') format('woff2'),
    url('../assets/fonts/Montserrat/Montserrat-Black.woff') format('woff'),
    url('../assets/fonts/Montserrat/Montserrat-Black.ttf') format('truetype');
}

// -------- Source Code Pro --------
@font-face {
  font-family: 'Source Code Pro';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceCodePro/SourceCodePro-ExtraLight.woff2') format('woff2'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-ExtraLight.woff') format('woff'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceCodePro/SourceCodePro-Light.woff2') format('woff2'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Light.woff') format('woff'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceCodePro/SourceCodePro-Regular.woff2') format('woff2'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Regular.woff') format('woff'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceCodePro/SourceCodePro-Medium.woff2') format('woff2'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Medium.woff') format('woff'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceCodePro/SourceCodePro-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-SemiBold.woff') format('woff'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceCodePro/SourceCodePro-Bold.woff2') format('woff2'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Bold.woff') format('woff'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceCodePro/SourceCodePro-ExtraBold.woff2') format('woff2'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-ExtraBold.woff') format('woff'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Code Pro';
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceCodePro/SourceCodePro-Black.woff2') format('woff2'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Black.woff') format('woff'),
    url('../assets/fonts/SourceCodePro/SourceCodePro-Black.ttf') format('truetype');
}
