:root {
  --white-1: #ffffff;
  --blue-1: #185c79;
  --red-1: #e44848;
  --orange-1: #f95e2e;
  --black-1: #000000;
  --black-2: #1e1e21;
  --black-3: #36363c;
  --grey-1: #767681;
  --grey-2: #bababa;
  --grey-3: #c8cacf;
  --grey-4: #eeeeee;
  --grey-5: #f8f8f8;
}
