@import 'shared/styles/fonts.scss';
@import 'shared/styles/palette.scss';
@import 'shared/styles/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}
