.dropdownContent {
  padding: {
    left: 0;
    right: 0;
  }
}

.dropdownButton {
  transition: color var(--transition);
  padding: 8px 0px 8px 8px;

  & > svg {
    width: 24px;
    height: 24px;

    path {
      fill: currentColor;
    }
  }
}

.dropdownMenuItem {
  padding: 8px 24px 8px 16px;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  justify-content: start;
  border-radius: 0;

  & > svg {
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  &:hover:not(:disabled) {
    background-color: var(--grey-4);
  }

  &_active {
    color: var(--orange-1) !important;
    font-weight: 600;
  }

  &_danger {
    &:hover:not(:disabled) {
      color: var(--red-1);
    }
  }
}
