.toggleTask {
  width: 100%;

  span {
    margin-right: 8px;
  }

  svg {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}

.toggleTaskMini {
  height: 100%;
  width: 100%;
  padding: 4px;
  background-color: var(--grey-4);
  border: none;
  color: var(--grey-1);
  transition: background-color var(--transition), color var(--transition);

  &:hover {
    background-color: var(--black-2);
    color: var(--white-1);
  }

  svg {
    width: 20px;
    height: 20px;

    path {
      fill: currentColor;
      transition: fill var(--transition);
    }
  }

  &_active {
    color: var(--grey-2);
  }
}
