@import 'shared/styles/mixins.scss';

.filters {
  @include row;
  align-items: center;
}

.link {
  font-size: 16px;
  font-weight: 400;
  color: var(--black-2);
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Source Code Pro', sans-serif;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.separator {
  font-size: 14px;
  font-weight: 400;
  color: var(--black-2);
  text-transform: uppercase;
  white-space: pre;
}
