@import 'shared/styles/mixins.scss';

.row {
  @include row;
  align-items: center;
}

.taskRow {
  @extend .row;
  position: relative;
  width: 100%;
  height: 60px;
  padding-right: 24px;
  background-color: var(--grey-5);
  justify-content: space-between;
  transition: box-shadow var(--transition);

  &_active {
    .title,
    .description,
    .datetime,
    .dropdownButton {
      color: var(--grey-3);
    }
  }
}

.left {
  @extend .row;
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding-left: 24px;

  &_withToggle {
    padding-left: 0;
  }
}

.right {
  @extend .row;
  position: relative;
  flex-shrink: 0;
}

.toggle {
  position: relative;
  width: 28px;
  height: 100%;
  margin-right: 12px;
}

.title {
  @include text-overflow;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 600;
  color: var(--black-2);
  transition: color var(--transition);
}

.description {
  @include text-overflow;
  white-space: nowrap;
  font-size: 14px;
  color: var(--grey-1);
  margin-top: 6px;
  transition: color var(--transition);
}

.datetime {
  @extend .row;
  color: var(--grey-1);

  &:not(:first-child) {
    margin-top: 6px;
  }

  & > p {
    font-size: 14px;
    font-weight: 500;
    transition: color var(--transition);
  }

  & > svg {
    width: 14px;
    height: 14px;
    margin-right: 4px;

    path {
      transition: fill var(--transition);
      fill: currentColor;
    }
  }

  &_active {
    color: var(--orange-1);
  }
}

.dropdownMenu {
  margin-left: 16px;
}
