@import 'shared/styles/mixins.scss';
@import 'shared/styles/breakpoints.scss';

.header {
  @include row;
  position: relative;
  width: 100%;
  height: 52px;
  align-items: center;
  justify-content: space-between;
}

.nav {
  @include row;
  align-items: flex-end;
  column-gap: 48px;
}

.list {
  @extend .nav;
  column-gap: 20px;

  @include tablet {
    display: none;
  }
}

.linkDecorator {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  position: absolute;
  bottom: -8px;
  background-color: var(--grey-3);
  transform: translateX(-50%);
  left: 50%;
}

.link {
  position: relative;
  font-size: 14px;
  color: var(--black-2);
  transition: color var(--transition);

  &::after {
    @extend .linkDecorator;
    transition: opacity var(--transition), width var(--transition);
    opacity: 0;
  }

  &:hover,
  &:focus {
    &::after {
      opacity: 1;
    }
  }

  &_active {
    &::after {
      @extend .linkDecorator;
      width: 100% !important;
      background-color: var(--black-2) !important;
      opacity: 1;
    }
  }
}
