@import 'shared/styles/mixins.scss';
@import 'shared/styles/breakpoints.scss';

.block {
  position: relative;
  width: 100%;
}

.container {
  @extend .block;
  margin-top: 24px;
}

.statisticsContainer {
  @include row;
  @extend .block;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  margin-top: 16px;

  @include tablet {
    margin-top: 0;
  }
}

.statistics {
  @include row;
  @extend .block;
  align-items: center;
  column-gap: 24px;
  color: var(--black-2);
  font-size: 12px;
  border-radius: var(--border-radius);
  height: 32px;

  & > p > span {
    font-weight: 600;
    font-size: 14px;
    margin-left: 4px;
  }

  @include mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 24px;
    background-color: var(--grey-5);
    padding: 8px;
    height: auto;
    border-radius: var(--border-radius);

    & > p {
      @include column;
      align-items: center;
      text-align: left;
      row-gap: 4px;

      & > span {
        margin: 0;
      }
    }
  }
}

.tasksContainer {
  @extend .block;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 24px;

  @include tablet {
    grid-template-columns: 1fr;
  }
}

.filters {
  @extend .block;
  position: sticky !important;
  top: 24px;

  @include tablet {
    display: none;
  }
}

.tasks {
  @extend .block;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.item {
  @extend .block;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.emptyContainer {
  @include row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: var(--border-radius);
  background-color: var(--grey-5);
  padding: 0 16px;
}

.emptyText {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-2);
  text-align: center;
}

.header {
  @include row;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
  display: none;

  @include tablet {
    display: flex;
  }
}

.headerButtons {
  @extend .header;
  column-gap: 8px;
}

.addTask {
  @include tablet {
    display: none;
  }
}

.addTaskMobile {
  @include tablet {
    padding: 0;
    width: 32px;

    & > span {
      display: none;
    }

    & > svg {
      margin: 0;
    }
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: var(--black-2);
}
