@import 'shared/styles/mixins.scss';

.block {
  position: relative;
  width: 100%;
}

.statisticsContainer {
  @include row;
  @extend .block;
  align-items: center;
  justify-content: space-between;
  column-gap: 24px;
  margin-top: 24px;
}

.statistics {
  @include row;
  @extend .block;
  align-items: center;
  column-gap: 24px;
  color: var(--black-2);
  font-size: 12px;
  border-radius: var(--border-radius);
  height: 32px;

  span {
    font-weight: 600;
    font-size: 14px;
    margin-left: 4px;
  }
}

.createTask {
  flex-shrink: 0;
}

.tasksContainer {
  @extend .block;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 24px;
}

.filters {
  @extend .block;
  position: sticky;
  top: 24px;
}

.tasks {
  @extend .block;
  overflow-x: hidden;
  padding-bottom: 80px;
}

.item {
  @extend .block;

  &:not(:first-child) {
    margin-top: 8px;
  }
}

.emptyContainer {
  @include row;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: var(--border-radius);
  background-color: var(--grey-5);
  padding: 0 16px;
}

.emptyText {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey-2);
  text-align: center;
}
