.container {
  position: relative;
  width: auto;
  height: auto;
}

.button {
  padding: 4px;
  height: auto;

  & > svg {
    transform: rotate(90deg);
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 100%;
  z-index: 10;
  width: auto;
  height: auto;
  background-color: var(--white-1);
  box-shadow: 0 0 8px rgba(black, 0.1);
  border-radius: 4px;
  border: 1px solid var(--grey-4);
  color: var(--black-2);
  min-width: 160px;
  padding: 8px 12px;

  &_open {
    display: block;
  }

  &_left {
    left: 0;
  }

  &_right {
    right: 0;
  }
}
