.tooltip {
  white-space: pre-line !important;
  padding: 8px 16px !important;
  background-color: var(--black-2) !important;
  color: var(--white-1) !important;
  border-radius: 4px !important;
  opacity: 0.9 !important;
  font-size: 12px !important;
  line-height: 1.5 !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
}
